
section{
    text-align: center;
}

iframe{
    width: 80%;
}

h2{
    text-align: center;
}

body{
    background: cornflowerblue;
}

article p{
    margin: 5%;
}

article p img{
    margin: 0 15px 5px 0;
}

h3{
    margin: 0 0 0 10px;
}

ol{
    padding: 0 0 0 10px;
    margin: 0 0 0 10px;
}