header{
    width: 100%;
    margin: 0;
}

header h1{
    color: white;
    padding: 1%;
    background: deepskyblue;
    text-align: center;
    vertical-align: middle;
    margin: 0;
}

nav{
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul {
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}


nav ul li{
    list-style: none;
    display: inline-block;
    text-align: center;
    padding: 1%;
    margin: .2%;
    width: 21.5%;
    background: black;
    color:  white;
    justify-content: center;
    border-radius: 5px;
}

nav ul li a {
    color:  white;
}

nav ul li a:hover {
    background-color: aqua;
}

footer{

    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
}
